<div class="block">
        {% set store = t %}
        {% set globals = {} %}

        <twig:dexie
                refreshEvent="tab-{{ t }}-show"
                :store="store"
                :globals="globals"
                :filter="{}"
                :caller="_self">

            <twig:block name="title">
                there are {{ rows|length }} rows
            </twig:block>

            <twig:block name="twig_template" id="hack_to_get_raw_data">
                <div class="list">
                    <ul>
                    {% for row in rows %}
                        <li>
                            <a href="/pages/location/{{row.id}}" class="item-link">
                                <div class="item-content">
                                    <div class="item-media">
                                        {% if row.image %}
                                            <img src="{{ row.image }}" alt="{{ row.label }}">
                                        {% else %}
                                            <img src="https://picsum.photos/id/{{row.id}}0/50" alt="{{ row.label }}" style="width: 50px;">
                                        {% endif %}
                                    </div>
                                    <div class="item-inner
                                    ">
                                        <div class="item-title
                                        ">
                                           <b>{{ row.label|title }}</b>
                                        </div>
                                        <div class="item-after
                                        ">
                                            {{ random(2,9) }}
{#                                            {{ row.obraCount|default(random(2,9)) }}#}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                there are {{ rows|length }} rows
                <!-- hack_to_get_raw_data -->
            </twig:block>
        </twig:dexie>
</div>
