{% extends 'admin-base.html.twig' %}

{% block body %}

    <h1>{{ core|trans }}</h1>
        <div class="grid">
        {% for loc in items %}
            <div>
                {% set url = url('admin_detail', {core: core, id: loc.id}) %}
                <div>
                    <a href="{{ url }}" target="_blank">
                        <img src="{{ qr_code_url(url) }}"/>
                    </a>
                </div>
                <div>
                    <b>
                        <a href="{{ url }}">
                            {{ loc.label }}
                        </a>
                    </b>
                    <code>{{ loc.code|default(loc.id) }}</code>
                    <pre>{{ loc.info|default('') }}</pre>
                </div>
            </div>

            {% if (loop.index % 3) == 0 %}
                </div><div class="grid">
            {% endif %}
        {% endfor %}
        </div>

{% endblock %}

