{% extends 'admin-base.html.twig' %}

{% block body %}

    <ul>
        {% for loc in locs %}
            <li>
                {% set url = url('admin_detail', loc.rp) %}
                <div>
                    <a href="{{ url }}" target="_blank">
                        <img src="{{ qr_code_url(url) }}"/>
                    </a>
                </div>
                <div>
                    <b>
                        <a href="{{ url }}">
                            {{ loc.label }}
                        </a>
                    </b>
                    <p>
                        {{ loc.description|slice(0, 80) }}...
                    </p>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}

