{% extends '@EasyAdmin/page/content.html.twig' %}

    {% block content_title 'MODO' %}
    {% block main %}
        {% for expo in expos %}
            <li>
                <a href="{{ path('admin_expo_edit', {entityId: expo.code}) }}">
                    <twig:ux:icon name="mdi:pencil" />
                </a>

                <a href="{{ path('admin_expo_detail', {entityId: expo.code}) }}">
                    <twig:ux:icon name="mdi:show" />
                    {{ expo.title }}
                </a>
                {# @todo: configure this to the expo detail in voxitour #}
                {# https://fw.wip/es/modo?expoId=expo1#tab-expos #}
                {% set url = voxitour_base ~ '/en/modo/' ~ '?expoId=' ~ expo.code ~ '#tab-expos' %}
                <a target="_blank" href="{{ url }}">
                    Voxitour {{ url }}
                </a>

            </li>
        {% endfor %}
        {{ _self }}
{% endblock %}
